/**/
html {
	height: 100%;
}

div {
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;    
    border-radius: unset;
}

.column {
    display: flex;
    flex-direction: column;
}

body {
	width: 80%;
	margin: 0 auto;	
	background: url(../img/background_white.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	color: black;
	
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	margin: 10px 0;
}

hr {
	margin: unset;
	border: none;
    color: white;
    background-color: white;
    height: 1px;
}

footer {
	border: 2px solid #3B7B9A;
    height: 30px;
    background: #A5DEF1;
    border-radius: 5px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.button {
	border: 1px solid #7ac0d8; 
	padding: 5px 10px; 
	cursor: pointer;
	background: #A5DEF1;
	width: max-content;
	
	-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.button:hover {
	background: #7ac0d8;
}

.button:active {
	background: #70AFCE;
}

i {
	cursor: pointer;
} 

/*header*/
header > #logo {
	width: 75%;
	margin-right: 10px;
	font-size: 110px;
}

header > #info {
	border: 2px solid #3B7B9A;
	width: calc(25% - 20px);
	padding: 10px;
	background: #A5DEF1;
}

header > #info > #username {
	margin-bottom: 10px;
}

header > #info > .enter {
	padding: 5px;
	border: 1px solid #7ac0d8;
	margin-bottom: 10px;
}

header > #info > .enter:focus {
	outline: none;
}

header > #info > #user_information {
	margin-bottom: 10px;
}

header > #info > #user_information > #avatar {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	border: 1px solid #7ac0d8;
}

header > #info > #user_information > #avatar > img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

header > #info > #user_information > #statistic {
	width: calc(100% - 114px);
}

.parameter {
	width: 120px;
}

/*nav*/

/*main*/
/*breadcrumbs*/
.breadcrumbs {	
	border: 2px solid #3B7B9A;
	border-radius: 5px;
	margin-bottom: 10px;
	height: 34px;
	background: #A5DEF1;
}

.breadcrumbs-bottom {
	margin-top: auto;
}

.breadcrumbs > .row {
	height: 100%;
}

.breadcrumbs_button {	
	width: max-content;
	cursor: pointer;
    position: relative;
	padding: 7px 6px 0px 15px;
	z-index: 1;
	white-space: nowrap;
    word-wrap: normal;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;       
}

.breadcrumbs_button::before, .breadcrumbs_button::after {
	content: '';
	border-style: solid white;
    border-width: 0;
    border-right-width: 1px;
    border-color: rgba(58,63,74,0.8);
    color: rgba(255,255,255,0.38);
    box-shadow: inset currentColor -1px 0px 0px 0px;
    position: absolute;
    height: 50%;
    width: 100%;
    right: -4px;
    z-index: -1;
    box-sizing: border-box;
    transform-origin: 100% 50%;
	
}

.breadcrumbs_button::before {
	top: 0;
    transform: skewX(30deg);
}

.breadcrumbs_button:first-child::before {
	border-radius: 2px 0 0 0;
}

.breadcrumbs_button::after {
	top: 50%;
    transform: skewX(-30deg);
}

.breadcrumbs_button:first-child::after {
	border-radius: 0 0 0 2px;
}

.breadcrumbs_button:hover::before, .breadcrumbs_button:hover::after {
	background: #7ac0d8;
	text-decoration: none;
}

.breadcrumbs_button:active::before, .breadcrumbs_button:active::after {
	background: #70AFCE!important;
}

.breadcrumbs_button:first-child:hover {
	background: #7ac0d8;
	text-decoration: none;
}

.breadcrumbs_button:first-child:active {
	background: #70AFCE!important;
}

/*right sidebar*/
#right_sidebar {
	width: 25%;
}

.block {
	margin-bottom: 10px;
}

.block_body {
	border: 2px solid #3B7B9A;
	background: #A5DEF1;
	padding: 10px;
	font-size: 14px;
}

.block > .block_title {
	margin-bottom: 4px;
}

.block > .block_body > .forum_statistic > .value {
	white-space: nowrap;
}
	
.block > .block_body > .forum_statistic > .parameter {
	width: 100%;
}

.block > .block_body > .last_threads > .avatar_mini {
	width: 25px;
    height: 25px;
    border: 1px solid #7ac0d8;
    margin-right: 10px;
    border-radius: 3px;
}

.block > .block_body > .last_threads > .avatar_mini > img {
	width: 25px;
    height: 25px;
    border-radius: 3px;
}

.block > .block_body > .last_threads > .last_threads_info {
	
}

.block_divider {
	margin: 10px -10px;
	background-color: gray;
	background: gray;
}

/*forum*/
#forum {
	width: 75%; 
	margin-right: 10px;
}

.category,
.section {
	border: 2px solid #3B7B9A;
	margin-bottom: 10px;
	background: #A5DEF1;
}

.category_title {
	padding: 20px; 
	border-bottom: 2px solid #3B7B9A;; 
	border-radius: unset;
	font-size: 19px;
	background: #70AFCE;
}

.category_title > .category_description {
	font-size: 13px;
}

.category_body,
.section_body {
	padding: 0px 5px;
	background: #A5DEF1;
}

.category_body:hover,
.section_body:hover {
	background: #7ac0d8;
}

.category_body_img {
	margin: 20px 15px; 
	font-size: 20px;
}

.category_body_name {
	padding: 22px 0; 
	width: 60%;
}

.category_body_info {
	width: 40%;
}

.category_body_info > .threads {
	width: 20%; 
	text-align: center; 
	padding-top: 12px;
}

.category_body_info > .answers {
	width: 20%; 
	text-align: center; 
	padding-top: 12px;
}

.category_body_info > .last {
	width: 60%; 
	padding: 13px 0 0 10px;
}

.category_body_info > .threads > .threads_count, .category_body_info > .answers > .answers_count {
	font-size: 18px;
}

.category_body_info > .threads > .threads_text, .category_body_info > .answers > .answers_text {
	font-size: 11px;
}

.category_body_info > .last > .last_name {
	font-weight: 600;
}

.category_body_info > .last > .last_info {
	font-size: 14px;
}

/*thread.php*/
#thread > #thread_header,
#category > #category_header,
#section > #section_header {
	background: #A5DEF1;
	border: 2px solid #3B7B9A;
	border-top: 6px solid #3B7B9A;
    margin-bottom: 10px;
	padding: 20px 15px;
}

#thread > #thread_header > #title,
#category > #category_header > #title,
#section > #section_header > #title {
	font-size: 24px;
}

#thread > #thread_header > #info {
	font-size: 14px;
}

.fa-user::before, .fa-clock-o::before {
	padding-right: 5px;
}

#thread > #thread_header > #info > #author {
	margin-right: 10px;
}

#thread > #thread_header > #info > #date {}

#thread > .thread_content {
	width: 100%;
}

#thread > .thread_content > .user, .thread_content > .answer {
	background: #A5DEF1;
	border: 2px solid #3B7B9A;
    margin-bottom: 10px;
	padding: 10px;
}

#thread > .thread_content > .user,
#thread > #write_answer > #user {
	width: 150px;
	margin-right: 10px;
}

#thread > .thread_content > .user > .avatar,
#thread > #write_answer > #user > #avatar {
	border: 1px solid #7ac0d8;
    width: 125px;
    height: 125px;
    margin: 0 auto;
	margin-bottom: 10px;
}

#thread > .thread_content > .user > .avatar > img,
#thread > #write_answer > #user > #avatar > img {
	width: 125px;
    height: 125px;
	border-radius: 5px;
}

#thread > .thread_content > .user > .name {	
    margin: 0 auto;
	width: max-content;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 18px;
}

#thread > .thread_content > .user > .rank {
	margin: 0 auto;
	width: max-content;
	margin-bottom: 5px;
	font-size: 14px;
}

#thread > .thread_content > .user > .banner {
    margin: 0 auto;
    border: 1px solid;
    padding: 5px 20px;
    font-size: 11px;
    width: calc(100% - 45px);
    text-align: center;
	margin-bottom: 10px;
}

#thread > .thread_content > .user > .banner[type="1"] {
	background: #a21313;
	border: 1px solid red;
	color: white;
}

#thread > .thread_content > .user > .class {
	margin: 0 auto;
	width: max-content;
}

#thread > .thread_content > .answer {
	width: calc(100% - 170px);
}

#thread > .thread_content > .answer > .info {
	font-size: 13px;
	color: black;
	margin-bottom: 15px;
}

#thread > .thread_content > .answer > .info > .date {
	width: 100%;
}

#thread > .thread_content > .answer > .text {
	margin-bottom: 5px;
}

#thread > .thread_content > .answer > .buttons {
	margin-top: auto;
	width: 100%;
}

#thread > .thread_content > .answer > .buttons > .button,
#thread > #write_answer > #answer > #buttons > .button, 
#new_thread > #body > #answer > #buttons > .button {
	float: right;
}

#thread > .thread_content > .answer > .buttons > .button:first-child, 
#thread > .thread_content > .answer > .buttons > .button:nth-child(2){
	margin-left: 10px;
}

#thread > #write_answer,
#new_thread {
	background: #A5DEF1;
	border: 2px solid #3B7B9A;
	border-top: 6px solid #3B7B9A;
    margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

#thread > #write_answer > #answer{
	width: calc(100% - 160px);
}

#thread > #write_answer > #answer > #border,
#new_thread > #body > #answer > #border {
	border: 1px solid #7ac0d8;	
	margin-bottom: 10px;
}

#thread > #write_answer > #answer > #border > #tools,
#new_thread > #body > #answer > #border > #tools {
	padding: 10px;
}

#thread > #write_answer > #answer > #border > hr,
#new_thread > #body > #answer > #border > hr {
	color: #7ac0d8;
    background-color: #7ac0d8;
}

#thread > #write_answer > #answer > #border > #text,
#new_thread > #body > #answer > #border > #text {
	min-height: 200px;
	padding: 10px;
}

#thread > #write_answer > #answer > #border > #text:focus, 
#new_thread > #body > #answer > #border > #text:focus {
	outline: none;
}

/*section.php*/
.section {
	padding: 10px 10px;
    background: #A5DEF1;
}

.section_body {
    padding: 5px;
	border-radius: 5px;
}

.section > .section_body > .avatar {
	width: 35px; 
	height: 35px; 
	border: 1px solid #7ac0d8; 
	margin-right: 10px;
}

.section > .section_body > .avatar > img {
	width: 35px; 
	height: 35px; 
	border-radius: 5px;
}

.section > .section_body > .thread_info {
	width: calc(100% - 370px);
}

.section > .section_body > .thread_info > .thread_date {
	font-size: 13px;
}

.section > .section_body > .thread_status {
	margin-right: 10px; 
	font-size: 12px; 
	width: 15px;
}

.section > .section_body > .thread_viewed, 
.section > .section_body > .thread_last_message {
	width: 150px;
	font-size: 13px;
}

.section > .section_body > .thread_viewed > .row > .parameter {
	width: 70%;
}

.section > .section_body > .thread_viewed > .row > .value {
	width: 30%;
}

/*new_thread.php*/
#new_thread > #title {
	border: 1px solid #7ac0d8;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 22px;
}

#new_thread > #title:empty::before {
  content: attr(data-placeholder);
  color: #7ac0d8;
}

#new_thread > #title:focus {
	outline: none;
}

#new_thread > #body > #answer {
	width: 100%;
}